<a href="https://colab.research.google.com/github/Joao-Ricardo-Arcoverde/Introduction-to-Data-Science/blob/main/Python_SQL_Exs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://sites.google.com/fat.uerj.br/livia'> <img src='../figures/capa2.png' /></a>
___

# **Integração SQL x Pyhton**

## **Importando o necessário**

In [62]:
# Importar pacotes necessários

In [63]:
# Carregar módulo SQL

In [64]:
# Conectar ao banco de dados

## **Aplicando comandos**

### **SELECT** é usado para mostrar nossos dados

### **FROM** é usado para especificar a tabela com que estamos trabalhando

### **SELECT** : Seleciona todas as colunas da tabela

*Selecione todas as colunas de sua tabela:*

#### **SELECT Col1, Col2...** Seleciona colunas específicas

*Selecione as colunas name e continent de sua tabela*

#### **AS**: Após selecionar as colunas específicas, é possível renomeá-las

*Selecione as colunas name e population de sua tabela, e as nomeie como País e População*

#### **LIMIT:** Seleciona n primeiras linhas

*Selecione as 5 primeiras linhas de sua tabela*

### **ORDER BY:** ordena a tabela inteira de acordo com uma coluna

#### **DESC:** ordena do maior para o menor, de forma descendente

*Mostre os 10 países mais populosos do mundo de sua tabela, mostrando nome e população, de forma descrescente*

#### **ASC:** ordena do menor para o maior, de forma ascendente

*Mostre os 5 países mais pobres de sua tabela, mostrando seus respectivos nomes, continentes e gdp*

### **WHERE** aplica filtros específicos, como =, >= e <=.

*Mostre todos os países asiáticos de sua tabela*

*Países com população superior ou igual a 200 milhões de habitantes de sua tabela*

*Países localizados na América do Sul de sua tabela*

#### **OR** e **AND:** combinam filtros

*Apresente os países americanos de sua tabela*

### **COUNT** contabiliza linhas em uma coluna

*Veja quantas linhas as colunas de sua tabela possuem*

#### **COUNT(DISTINCT)** contabiliza quantas variáveis possuem em uma coluna

*Mostre quantos continentes estão presentes na sua tabela*

### **Operadores matemáticos**

#### **SUM** é o somatório de valores de uma coluna

*Quantos habitantes estão presentes em sua tabela?*

#### **AVG:** Média de valores de uma coluna

*Qual o PIB médio mundial?*

#### **MIN:** Menor valor de uma coluna

*Qual o menor país do mundo?*

#### **MAX:** Maior valor de uma coluna

*Qual o maior país do mundo?*

### **GROUP BY** permite mostrar quantas vezes uma variável é repetida em uma coluna

**Mostre quantos países existem em cada continente**

## **Execícios - Revisão**

### 1) Mostre todos os dados de sua tabela

### 2) Mostre as colunas nome e população da sua tabela

### 3) Mostre as colunas 'name' e 'continent', chamando elas de 'País' e 'Continente'.

### 4) Mostre as 6 primeiras linhas da sua tabela

### 5) Mostre em ordem alfabética decrescente (Z-A) 10 linhas da tabela, de acordo com os nomes dos países

### 6) Apresente os países que têm gdp maior que 1 trilhão de dólares

### 7) Mostre os países do continente europeu e asiático

### 8) Quantos continentes estão contidos na sua tabela?

### 9) Faça a soma da população de todos os países

### 10) Qual o país mais populoso?

### 11) Mostre quantos países em cada continente possui mais de 200 milhões de habitantes