![Logo LIVIA](https://uploaddeimagens.com.br/images/004/196/406/full/notebook_livia.png?1669774882)

In [ ]:
# Importar pacotes necessários
!pip install ipython-sql
!pip install pymysql

In [ ]:
# Carregar módulo SQL
%load_ext sql

In [ ]:
# Conectar ao banco de dados
%sql mysql+pymysql://root:YGyKVFio1OSIJYwd3VKN@containers-us-west-203.railway.app:7541/railway

## **Respostas: Execícios - Revisão**

### 1) Mostre todos os dados de sua tabela

In [ ]:
%sql select * from Table1

### 2) Mostre as colunas nome e população da sua tabela

In [ ]:
%sql select name, population from Table1

### 3) Mostre as colunas 'name' e 'continent', chamando elas de 'País' e 'Continente'.

In [ ]:
%sql select name as 'País', continent as 'Continente' from Table1

### 4) Mostre as 6 primeiras linhas da sua tabela

In [ ]:
%sql select * from Table1 limit 6

### 5) Mostre em ordem alfabética decrescente (Z-A) 10 linhas da tabela, de acordo com os nomes dos países

In [ ]:
%sql select * from Table1 order by name desc limit 10

### 6) Apresente os países que têm gdp maior que 1 trilhão de dólares

In [ ]:
%sql select * from Table1 where gdp > 1e12

### 7) Mostre os países do continente europeu e asiático

In [ ]:
%sql select * from Table1 where continent = 'Asia' or continent = 'Europe'

###8) Quantos continentes estão contidos na sua tabela?

In [ ]:
%sql select count(distinct continent) as 'Continentes' from Table1

### 9) Faça a soma da população de todos os países

In [ ]:
%sql select sum(population) as 'População Mundial' from Table1

### 10) Qual o país mais populoso?

In [ ]:
result = %sql select max(population) from Table1
result

In [ ]:
%sql select name, continent, population from Table1 where population = 1439323776

### 11) Mostre quantos países em cada continente possui mais de 200 milhões de habitantes

In [ ]:
%sql select continent, count(*) as 'Qtd de países' from Table1 where population >= 200e6 group by continent

 * mysql+pymysql://sql10590424:***@sql10.freesqldatabase.com:3306/sql10590424
3 rows affected.

[('Asia', 3), ('North ', 1), ('South ', 1)]